# Виртуальные окружения
backend/.venv/
backend/venv/
.venv/
venv/

# Кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
*.log
db.sqlite3
.env

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db